@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

body {
  @apply font-body flex flex-col items-center min-h-screen relative;
}

body::before {
  content: "";
  background: url("./images/bg-intro-desktop.png") no-repeat;
  /* background-size: calc(1412 / 1440 * 100vw) 100vh; */
  padding-inline: 14px;
  background-origin: content-box;
  background-size: cover;
  background-position: center;
  @apply absolute -z-10 bg-primary-red w-screen h-full;
}

main {
  @apply flex flex-col lg:flex-row lg:max-w-5xl xl:max-w-[1110px] lg:h-[calc(100vh-160px)] justify-start items-center text-center h-full w-[calc(100vw-48px)] max-w-[480px] mt-[92px] mb-[68px] lg:mt-[78px] lg:mb-[76px];
}

.hero {
  @apply px-2 lg:px-0 text-white mb-[62px] lg:text-left lg:m-0 lg:pr-10 lg:mt-[12px];
}

.hero h1 {
  @apply text-[28px] lg:leading-[54px] leading-9 font-bold mb-[22px] lg:mb-[28px] lg:text-[49px];
}

.hero p {
  @apply leading-[26px] text-white/75 font-medium;
}

.cta {
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  @apply font-light tracking-[0.02rem] bg-accent leading-[25px] rounded-lg px-14 text-white pt-[calc(100vh/800*19)] pb-[calc(100vh/800*16)] mb-[calc(100vh/800*24)] text-[15px] w-full;
}

.cta span {
  @apply font-semibold;
}

.form {
  @apply w-full lg:w-[86vw] mt-1;
}

form {
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  @apply bg-white w-full p-6 rounded-lg lg:p-[calc(100vh/800*40)];
}

form input {
  @apply w-full px-[18px] pt-[calc(100vh/800*17)] pb-[calc(100vh/800*15)] border-base-200/60 border-[1px] rounded-md placeholder:text-base-100/75 placeholder:text-sm placeholder:font-semibold mb-[calc(100vh/800*16)] placeholder:tracking-[0.01rem] lg:mb-[calc(100vh/800*20)] lg:px-[calc(100vh/800*32)] focus:border focus:outline-none focus:border-base-100/70 text-sm font-semibold text-base-100;
}

.invalid {
  @apply border-primary-red text-primary-red placeholder:text-primary-red focus:outline-none relative;
}

form button[type="submit"] {
  box-shadow: 0px 4px 0px 0px hsl(154, 59%, 46%);
  @apply bg-primary-green font-medium  hover:bg-primary-green/75 text-white pt-[calc(100vh/800*18)] pb-[calc(100vh/800*10)] w-full rounded-md uppercase tracking-[0.0275rem] mb-[calc(100vw/800*9)];
}

form button[type="submit"]:hover {
  box-shadow: 0px 4px 0px 0px hsla(154, 59%, 46%, 0.75);
}

form p {
  @apply text-[11px] leading-[22px] text-base-200 px-4;
}

form p a {
  @apply text-primary-red font-bold;
}

label {
  @apply relative;
}

.label-invalid::before {
  content: "";
  background: url("./images/icon-error.svg") no-repeat;
  background-size: cover;
  @apply block absolute right-[27px] w-6 h-6 z-20;
}

.required {
  @apply text-primary-red text-xs -translate-y-[12px] text-right mb-[calc(100vh/800*7)] text-[11px] font-semibold italic;
}

.attribution {
  @apply text-base-100 text-[11px] absolute bottom-3 left-0 right-0 text-center;
}

.attribution a {
  @apply font-bold hover:underline;
}

@media (orientation: portrait) or (max-width: 375px) {
  body::before {
    background: url("./images/bg-intro-mobile.png");
    @apply absolute -z-10 bg-primary-red w-screen h-full;
  }
  .hero p {
    @apply font-normal;
  }
  .form {
    @apply mt-0;
  }
  .cta {
    @apply pt-5 pb-[18px] mb-[24px];
  }
  .cta,
  form {
    border-radius: 10px;
  }
  form input {
    @apply mb-[16px] pt-[17px] pb-[15px];
  }
  form button[type="submit"] {
    box-shadow: 0px 4px 0px 0px hsl(154, 59%, 46%);
    @apply tracking-[0.065rem] text-[15px] pt-[18px] pb-[11px] mb-[14px];
  }
  form p {
    @apply leading-5;
  }
}
